{% extends 'base.html.twig' %}

{% block title %}ft_blog{% endblock %}

{% block content %}
    <div class="col-sm-8 blog-main">
        {% for article in articles %}
            <div class="blog-post">
                <a href="{{ path("article_show", {id: article.id}) }}">
                    <h2 class="blog-post-title">
                        {{ article.title }}
                    </h2>
                </a>
                <p class="blog-post-meta">Created at: {{ article.getCreatedAt()|date('Y-m-d H:i:s') }} by {{ article.getAuthor().getUsername() }}</p>
                {{ article.description|nl2br }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
