{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {{ form_start(form) }}
    <fieldset>
        <legend><i class="fa fa-lock" aria-hidden="true"></i> Register</legend>
        <div class="form-group">
            <label for="user_username">Username</label>
            {{ form_widget(form.username) }}
        </div>
        <div class="form-group">
            <label for="user_password_first">Password</label>
            {{ form_widget(form.password.first) }}
        </div>
        <div class="form-group">
            <label for="user_password_second">Retype</label>
            {{ form_widget(form.password.second) }}
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
    </fieldset>
    <button type="submit" class="btn btn-outline-primary">Register!</button>
    {{ form_end(form) }}
{% endblock %}